<div class="about">
    <img class="mt-5" width="100" src="https://i.pinimg.com/originals/b6/e2/ef/b6e2ef894ef8e63a8a3e8c35a6e6144a.png" alt="Adidas logo">
</div>

<p>
    Adidas es una compañía multinacional alemana fundada en 1937 dedicada a la fabricación de equipamiento deportivo y productos de moda (bolsos, camisas, relojes, gafas, etc.). La empresa también es patrocinadora de eventos y figuras deportivas a nivel mundial.
    Es el segundo mayor fabricante del rubro en el mundo después de Nike.​ Sus ingresos superan los 14.534 millones de dólares estadounidenses y cuenta en su nómina a un total de aproximadamente 60.000 empleados. La marca tiene un valor de 6.800 millones
    de dólares estadounidenses, lo que la convierte en la segunda marca más valiosa entre las corporaciones deportivas.
</p>