// ancho de los inputs 
.input-width {
    width: 3rem;
}

.cant {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addQuitItems {
    display: flex;
    flex-direction: row;
}